/* General tags */

body, html {
    height: 100%;
}

#homebody{
  text-align:center;
}

h1{
  margin-bottom:20px;
  font-family:'Lato', sans-serif;
  font-size:2.4em;
  font-weight:700;
  color:#540982;
}

h2{
  font-family:'Lato', sans-serif;
  font-size:1.5em;
  font-weight:700;
  color:#ff9600;
}

p{
  font-family:'Roboto', sans-serif;
  font-size:1.2em;
  font-weight:300;
}

.section{
  margin:0;
  padding:70px 0;
}

.intro{
  max-width:800px;
  text-align:center;
}

.cta{
  width:100%;
  padding:25px;
  background-color:#ff9600;
  text-align:center;
}

.cta p, .hero-text p{
  display:inline;
  margin-right:10px;
  font-family:'Lato', sans-serif;
  font-size:1.4em;
  font-weight:700;
  color:#fff;
}

.cta a, .hero-text a{
  padding:10px;
  text-decoration:none;
  color:#fff;
  background-color:#540982;
  border-radius:10px;
  transition:background-color 0.5s;
}

.cta a:hover, .hero-text a:hover{
  background-color:#a200c9;
}

.colouredbg{
  background-color:#ededed;
}

ul{
  list-style-type:none;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (headerimg.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../ClubEx/images/headerimg.jpg");
  height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h3{
  margin-bottom:30px;
  font-family:'Lato', sans-serif;
  font-style:italic;
  font-size:2.7em;
  font-weight:700;
  color:#fff;
}

/* Home page */
#homeclassul li{
  display:inline-block;
  margin:30px 30px 0 0;
  max-width:280px;
  vertical-align:top;
}

.classicon{
  margin:0 auto 15px auto;
  width:125px;
  height:125px;
  background-color:#540982;
  border-radius:1000px;
}

#homeplansul li{
  display:inline-block;
  margin:30px 50px 0 0;
  max-width:350px;
  vertical-align:top;
}

.bignumbers{
  font-family:'Lato', sans-serif;
  font-size:5em;
  font-weight:700;
  color:#540982;
  line-height:1em;
}

sup{
  font-size:0.5em;
}

/* Class Page portfolio */

#classportfolio{
  margin:0;
  margin-bottom:70px;
  padding:0;
  text-align:center;
}

#classportfolio li{
  display:inline-block;
  margin:10px;
  margin-bottom:0;
  max-width:320px;
  width:100%;
  text-align:left;
}

#classportfolio li a{
  text-decoration:none;
}

.portfolioimg{
  width:100%;
  height:200px;
  background-color:#ededed;
  transition:opacity 0.5s;
}

.portfolioimg:hover{
  opacity:0.3
}

#classportfolio li a p{
  padding:5px 15px;
  width:100%;
  font-family:'Lato', sans-serif;
  font-size:1.4em;
  font-weight:700;
  color:#fff;
  background-color:#540982;
}

#aerobicsimg{
  background-image:url("../ClubEx/images/headerimg.jpg");
}