/* General tags */

body, html {
    height: 100%;
    margin-top: 4rem;
}

h1{
  margin-bottom:20px;
  font-family:'Lato', sans-serif;
  font-size:2.4em;
  font-weight:700;
  color:#540982;
  font-variant-ligatures: none;
}

h2{
  font-family:'Lato', sans-serif;
  font-size:1.5em;
  font-weight:700;
  color:#ff9600;
  font-variant-ligatures: none;
}

p{
  font-family:'Roboto', sans-serif;
  font-size:1.2em;
  font-weight:300;
}

a, a:hover{
  text-decoration:none;
}

.section{
  margin:0;
  padding:60px 0;
}

.container{
  text-align:center;
}

.intro{
  max-width:800px;
  text-align:center;
}

.cta{
  width:100%;
  padding:25px;
  background-color:#ff9600;
  text-align:center;
}

.cta p, .hero-text p{
  display:inline;
  margin-right:10px;
  font-family:'Lato', sans-serif;
  font-size:1.4em;
  font-weight:700;
  color:#fff;
}

.cta a, .hero-text a, #contactform input[type=submit]{
  padding:10px;
  text-decoration:none;
  color:#fff;
  background-color:#540982;
  border-radius:10px;
  border:none;
  transition:background-color 0.5s;
}

.cta a:hover, .hero-text a:hover, #contactcontainer input[type=submit]:hover{
  background-color:#a200c9;
}

.colouredbg{
  background-color:#ededed;
}

ul{
  list-style-type:none;
}

/* The home page */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (headerimg.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#homeheroimg{
  background-image:url("../../../media/headerimg.jpg");
}

#classesheroimg{
  background-image:url("../../../media/Group-fitness-spin.jpg");
}

#plansheroimg{
  background-image:url("../../../media/aerobics.jpg");
}

#aboutheroimg{
  background-image:url("../../../media/pushups.jpg");
}

#contactheroimg{
  background-image:url("../../../media/old_sweaty_dudes.jpg");
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#fff;
}

.hero-text h3{
  margin-bottom:30px;
  font-family:'Lato', sans-serif;
  font-style:italic;
  font-size:2.7em;
  font-weight:700;
  color:#fff;
}

/* Home page */

#homeclassul li, #aboutul li{
  display:inline-block;
  margin:30px 30px 0 0;
  max-width:280px;
  vertical-align:top;
  text-align:center;
}

.classicon{
  position:relative;
  margin:0 auto 15px auto;
  width:150px;
  height:150px;
  background-color:#540982;
  border-radius:1000px;
  vertical-align:center;
}

.classicon img{
  max-height: 100%;  
  max-width: 100%; 
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

#homeplansul li{
  display:inline-block;
  margin:30px 50px 0 0;
  max-width:350px;
  vertical-align:top;
}

.bignumbers{
  font-family:'Lato', sans-serif;
  font-size:5em;
  font-weight:700;
  color:#540982;
  line-height:1em;
}

sup{
  font-size:0.5em;
}

/* Class Page */

.classsection{
  margin:0;
  padding:60px 0 40px 0;
}

#classportfolio{
  margin:0;
  margin-bottom:70px;
  padding:0;
  text-align:center;
}

#classportfolio li{
  display:inline-block;
  margin:10px;
  margin-bottom:0;
  max-width:320px;
  width:100%;
  text-align:left;
  vertical-align:top;
}

.portfolioimg{
  width:100%;
  height:200px;
  background-color:#ededed;
  transition:opacity 0.5s;
}

.portfolioimg:hover{
  opacity:0.3
}

#classportfolio li a p{
  padding:5px 15px;
  width:100%;
  font-family:'Lato', sans-serif;
  font-size:1.4em;
  font-weight:700;
  color:#fff;
  background-color:#540982;
}

/* Videos Pages */

.video{
  display:block;
  margin:auto;
  margin-bottom:120px;
}

#classtimes{
  margin-left:10px;
  width:auto;
}

td{
  padding-right:10px;
}

#thumbnails li{
  display:inline-block;
  margin:10px;
  margin-bottom:0;
  max-width:150px;
  width:100%;
  height:200px;
  background-image:url("../../../media/headerimg.jpg");
  background-color:red;  
}

/* Individual Classes Page */

.videos li{
  margin-bottom:25px;
  max-width:420px;
  width:100%;
  text-align:left;
}

/* Video Detaisl Page */

#vidcontainer{
  text-align:left;
}

.videobox, .rw-ui-container{
  margin-bottom:15px;
}

.videocontent h1{
  margin-bottom:5px;
}

/* About Page */

#aboutul{
  max-width:1000px;
  margin:auto;
}

/* Contact Page */

#contactcontainer{
  text-align:left;
}

#contactcontainer li{
  display:inline-block;
  max-width:400px;
  margin-right:20px;
  vertical-align:top;
}

#contactform input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
}

#contactform input[type=submit]{
  padding:10px 20px;
  font-family:'Lato', sans-serif;
  font-size:1.2em;
  font-weight:700;
  text-decoration:none;
  color:#fff;
  background-color:#540982;
  border-radius:10px;
  outline:none;
  border:none;
  transition:background-color 0.5s;
}