body {
  background: #fafafa;
  color: #333333;
  margin-top: 4rem; 
  text-align: left;
  width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*About Page CSS*/
#topBox {
  background-color: #5f788a;
  width: 100%;
  height: 250px;
  color: #ffffff;
}

p#topBoxText{
  padding-top: 50px;
  padding-left: 130px;
  font-weight: bold;
  font-size: xx-large;
}

#middleBox {
  margin-top: 1px;
  background-color: #517188;
  padding-top: 60px;
  padding-left: 130px;
  color: #ffffff;
  width: 100%;
  height: 300px;
}

#middleBox h1 {
  color: #ffffff;
}

#middleBoxTwo {
  margin-top: 1px;
  background-color: #5f788a;
  padding: 60px;
  color: #ffffff;
  width: 100%;
}

#column {
  float: left;
  width: 33.33%;
  border: 2px solid white;
  padding: 10px;
}

#column h3 {
  color: #fafafa;
  text-align: center;
}

#column p{
  width: 300px;
  text-align: center;
}

#middleBoxTwo::after {
  content: "";
  display: table;
  clear: both;
}