{% extends "ClubEx/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <Link rel="stylesheet" href="{% static 'ClubEx/style.css' %}" type="text/css" >
    <Link rel="stylesheet" href="{% static 'ClubEx/newstyle.css' %}" type="text/css" >
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
          <h3>All you'll need to know about us.</h3>
          <h3>Any questions just ask.</h3>
          <p><a href="{% url 'plans' %}">Join Now</a></p>
        </div>  
    </div>
    <div class="section">
        <div class="container intro">
          <h1>About Us</h1>
          <p>Started back in the early 2010s just as the interest in online gyms came about.</p>
          <p>We decided to take advantage of what was happening and get into the market sooner rather than later. It just started out in a small rented place with a cheap camera and gym equipment and from this it then ended up taking the internet by storm.</p> 
          <p>From that point onwards we've just grown and in 2018 we moved to our now permanent larger area which has enabled us to hire more staff and get more programs for people to come and enjoy.</p>
        </div>
    </div>
    <div class="section colouredbg">
        <div class="container">
            <ul id="aboutul">
                <li>
                    <div class="classicon"></div>
                    <h2>Top-Ranked</h2>
                    <p>We're one of the most highly ranked gyms which offer either an in house experince or at home one</p>
                </li>
                <li>
                    <div class="classicon"></div>
                    <h2>Excellent Trainers</h2>
                    <p>Have the choice of a wide selection of trainers and one which will suit your style of training and if you don't know then we'll be able to recommend one that might work with you.</p>
                </li>
                <li>
                    <div class="classicon"></div>
                    <h2>Best Equipment</h2>
                    <p>We've got a wide range of equipment which is able to be used either at the gym or if you don't have any we're able to hire it out and if that's not what your after we even have workouts that don't require equipment</p>
                </li>
          </ul>
        </div>
    </div>
    <div class="cta">
        <div class="container">
          <p class="ctatext">Would you like to learn more?</p>
          <p><a href="{% url 'plans' %}">Plans</a></p>
        </div>
    </div>
</body>
</html>
{% endblock content %}