{% extends "ClubEx/base.html" %}

{% block content %}


 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      th, td {
        border: 1px solid grey;

      }

      th, td {
        text-align: center;
        font-family: Raleway;
      }

      th {
        padding: 15px;
        background: #6b00e3;
        font-size: 45px;
        color: #ff9600;
      }

      td {
        padding: 5px;
        font-sie: 0.9em;
      }

      .content-table tr:nth-child(even) {
        background-color: #f2e6f2;
      }
      .content-table tr:nth-child(odd) {
        background-color: #fff;
      }

       .no-color {
        background: #fafafa;
        border: 0px;
      }

      .border-radius {
        border-radius: 20px 20px 2px 2px;
        border: 0px;
      }

      .buy-now {
        background: #6b00e3;
        font-size: 20px;
        color: #ff9600;
        border-radius: 2px 2px 20px 20px;
        border: 0;
      }

      .buy-now a:hover {
        color: #ff9600
      }

      .buy-now a {
        color: #ff9600
      }

      .container {
        text-align: center;
      }

      .box {
        display: inline-block
      }

      .parent-div {
        display: flex;
        justify-content: center;
        align-items; center;
        margin: 40px;
      }

    </style>
        <div class="parent-div">
         <table class="content-table" style="max-width:100%">
              <tr class="noborder">
                <th class="no-color"></th>
                <th class="border-radius" style="width:150px">$10<br></th>
                <th class="border-radius" style="width:150px">$100<br></th>
              </tr>

              <tr>
                <td>Term Type</td>
                <td>MONTHLY</td>
                <td>PER YEAR</td>
              </tr>
              <tr>
                <td>24/7 Access to Facility</td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Access to all equipment and workout areas</td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Membership holding period</td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Unlimited access to group fitness contracts</td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Free training sessions on signup</td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Online access to video training sessions</td>
                <td><img src="/media/redongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Dietary Supplement Planning</td>
                <td><img src="/media/redonwhite.png" alt="Green Tick" width="32" height="32"></td>
               <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td class="no-color"></td>
                  <td class="buy-now"><a href="{% url 'payment10' %}">BUY NOW!</a></td>
                  <td class="buy-now"><a href="{% url 'payment100' %}">BUY NOW!</a></td>
              </tr>
         </table>
        </div>

{% endblock content %}