{% extends "ClubEx/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <Link rel="stylesheet" href="{% static 'ClubEx/plans.css' %}" type="text/css" >
    <Link rel="stylesheet" href="{% static 'ClubEx/style.css' %}" type="text/css" >
    <Link rel="stylesheet" href="{% static 'ClubEx/newstyle.css' %}" type="text/css" >
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="hero-image" id="plansheroimg">
    <div class="hero-text">
      <h3>Give us a call now!</h3>
      <p><a href="{% url 'contact' %}">Get in touch</a></p>
    </div>  
  </div>
  <div class="section">
  <div class="container intro">
    <h1>You won't find better prices anywhere else.</h1>
    <p>We offer the best value for your money. Why go to those other gyms which charge an arm and a leg when you can come here and get the best that money can buy.</p>
  </div>
  <div class="parent-div">
    <table class="content-table" style="max-width:100%">
          <tr class="noborder">
            <th class="no-color"></th>
            <th class="border-radius" style="width:150px">Free<br></th>
            <th class="border-radius" style="width:150px">$10<br></th>
            <th class="border-radius" style="width:150px">$100<br></th>
          </tr>

          <tr>
            <td>Term Type</td>
            <td>1 WEEK FREE</td>
            <td>MONTHLY</td>
            <td>PER YEAR</td>
          </tr>
          <tr>
            <td>24/7 Access to Facility</td>
            <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
          </tr>
          <tr>
            <td>Access to all equipment and workout areas</td>
            <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
          </tr>
          <tr>
            <td>Membership holding period</td>
            <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
          </tr>
          <tr>
            <td>Unlimited access to group fitness contracts</td>
            <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
          </tr>
          <tr>
            <td>Free training sessions on signup</td>
            <td><img src="/media/redonwhite.png" alt="Red Cross" width="32" height="32"></td>
            <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
            <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
          </tr>
          <tr>
            <td>Online access to video training sessions</td>
            <td><img src="/media/redongrey.png" alt="Red Cross" width="32" height="32"></td>
            <td><img src="/media/redongrey.png" alt="Red Cross" width="32" height="32"></td>
            <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
          </tr>
          <tr>
            <td>Dietary Supplement Planning</td>
            <td><img src="/media/redonwhite.png" alt="Red Cross" width="32" height="32"></td>
            <td><img src="/media/redonwhite.png" alt=Red Cross" width="32" height="32"></td>
          <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
          </tr>
          <tr>
            <td class="no-color"></td>
              <td class="buy-now"><a href="{% url 'subscribe' %}">BUY NOW!</a></td>
              <td class="buy-now"><a href="{% url 'subscribe' %}">BUY NOW!</a></td>
              <td class="buy-now"><a href="{% url 'subscribe' %}">BUY NOW!</a></td>
          </tr>
    </table>
  </div>
  <div class="cta">
    <div class="container">
      <p class="ctatext">Give us a call now!</p>
      <p><a href="{% url 'contact' %}">Get in touch</a></p>
    </div>
  </div>
</body>
</html>
    

        

{% endblock content %}