{% extends "ClubEx/base.html" %}
{% load static %}
{% block content %}

    <Link rel="stylesheet" href="{% static 'ClubEx/plans.css' %}" type="text/css" >

        <div class="parent-div">
         <table class="content-table" style="max-width:100%">
              <tr class="noborder">
                <th class="no-color"></th>
                <th class="border-radius" style="width:150px">Free<br></th>
                <th class="border-radius" style="width:150px">$10<br></th>
                <th class="border-radius" style="width:150px">$100<br></th>
              </tr>

              <tr>
                <td>Term Type</td>
                <td>1 WEEK FREE</td>
                <td>MONTHLY</td>
                <td>PER YEAR</td>
              </tr>
              <tr>
                <td>24/7 Access to Facility</td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Access to all equipment and workout areas</td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Membership holding period</td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Unlimited access to group fitness contracts</td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Free training sessions on signup</td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Online access to video training sessions</td>
                <td><img src="/media/redongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/redongrey.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/greenongrey.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td>Dietary Supplement Planning</td>
                <td><img src="/media/redonwhite.png" alt="Green Tick" width="32" height="32"></td>
                <td><img src="/media/redonwhite.png" alt="Green Tick" width="32" height="32"></td>
               <td><img src="/media/greenonwhite.png" alt="Green Tick" width="32" height="32"></td>
              </tr>
              <tr>
                <td class="no-color"></td>
                  <td class="buy-now"><a href="{% url 'subscribe' %}">BUY NOW!</a></td>
                  <td class="buy-now"><a href="{% url 'subscribe' %}">BUY NOW!</a></td>
                  <td class="buy-now"><a href="{% url 'subscribe' %}">BUY NOW!</a></td>
              </tr>
         </table>
        </div>

{% endblock content %}