{% extends "ClubEx/base.html" %}
{% load embed_video_tags %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <Link rel="stylesheet" href="{% static 'ClubEx/style.css' %}" type="text/css" >
    <Link rel="stylesheet" href="{% static 'ClubEx/newstyle.css' %}" type="text/css" >
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="section">
      <div class="container" id="statscontainer">
        <h1>Statistics</h1>
        {% for i in obj %}
          <div class="statsbox" href>
              <a class="statsimg" href="{% url 'video_details' i.id %}">
                <img src="{{ i.video_thumbnail.url }}" alt="#" width="320" height="200">
              </a>
              <div class="statscontent">  
                <a href="{% url 'video_details' i.id %}"><h3>{{ i.video_name }}</h3></a>
                <h5>Number of views: {{ i.video_views }}</h5>
              </div>
            </div>
        {% endfor %}
      </div>
  </div>

</body>
</html>

{% endblock content %}