{% extends "ClubEx/base.html" %}
{% load embed_video_tags %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <Link rel="stylesheet" href="{% static 'ClubEx/style.css' %}" type="text/css" >
    <Link rel="stylesheet" href="{% static 'ClubEx/newstyle.css' %}" type="text/css" >
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="section">
      <div class="container" id="vidcontainer">
        <div class="videobox">
          {% video obj.video '900x500' %}
        </div>
        <div class="videocontent">
          <h1>{{ obj.video_name }}</h1>
          <p>{{ obj.content  }}</p>
          <div class="rw-ui-container"></div>
          <h5>Views: {{ obj.video_views }}</h5>
        </div>
      </div>
  </div>

</body>
</html>

{% endblock content %}