{% extends "ClubEx/base.html" %}

{% load static %}

{% block content %}


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <Link rel="stylesheet" href="{% static 'ClubEx/searched_video.css' %}" type="text/css" >
  <Link rel="stylesheet" href="{% static 'ClubEx/newstyle.css' %}" type="text/css" >

   {% for i in results %}
<div class="container">
  <div class="row">
          <div class="col-5">
              <a href=" {% url 'video_details' i.id %}">{{ i.video_name }}</a>
          </div>

          <div class="col-7">
              <p>{{ i.content  }}</p>
          </div>
  </div>
</div>

    {% endfor %}

{% endblock content %}