{% extends "ClubEx/base.html" %}

{% load static %}

{% block content %}


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <Link rel="stylesheet" href="{% static 'ClubEx/searched_video.css' %}" type="text/css" >
  <Link rel="stylesheet" href="{% static 'ClubEx/newstyle.css' %}" type="text/css" >

 <div class="section">
  <div class="container" id="results">
    <h1>Results:</h1>
    <ul id="classportfolio">
      {% for i in results %}
        <li>
            <a href=" {% url 'video_details' i.id %}">
                <div class="portfolioimg">
                    <img src="{{ i.video_thumbnail.url }}" alt="#" width="320" height="200">
                </div>
                <p>{{ i.video_name }}</p>
            </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


{% endblock content %}