{% extends "ClubEx/base.html" %}
{% load embed_video_tags %}
{% load static %}

{% block content %}


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <Link rel="stylesheet" href="{% static 'ClubEx/searched_video.css' %}" type="text/css" >

<div style="width: 400px; float:left; height:300px; margin:20px 20px 20px 0px">
    {% for i in results %}
        {% video i.video 'tiny' %}

</div>
<div style="width: 400px; float:left; height:300px; margin:50px">
    <p>{{ i.content  }}</p>
        <h3>Rate this video..</h3>
        <x-star-rating>
            <div class="star full"></div>
            <div class="star full"></div>
            <div class="star full"></div>
            <div class="star"></div>
            <div class="star"></div>
        </x-star-rating>
</div>


<script src="StarRating.js"></script>

    {% endfor %}
{% endblock content %}