{% extends "ClubEx/base.html" %}

{% load static %}

{% block content %}

    <Link rel="stylesheet" href="{% static 'ClubEx/newstyle.css' %}" type="text/css" >

   {% for i in obj %}
<div class="container">
  <div class="row">
          <div class="col-5">
              <a href=" {% url 'video_details' i.id %}">{{ i.video_name }}</a>
          </div>

          <div class="col-7">
              <p>{{ i.content  }}</p>
          </div>
  </div>
</div>
 {% endfor %}

  <div class="cta">
    <div class="container">
      <p class="ctatext">Would you like to learn more?</p>
      <p><a href="{% url 'plans' %}">Plans</a></p>
    </div>
  </div>


{% endblock content %}